footer {
  section {
    &.footer-up {
      @include container-center(60%);
      display: flex;
      ul {
        width: calc(100% / 4);
        list-style: none;
        li {
          padding-bottom: 5px;
          a {
            text-decoration: none;
            color: $darkgray;
            font-size: 12px;
          }
        }
      }
    }
    &.footer-center {
      @include container-center(60%);
      display: flex;
      justify-content: flex-end;
      .logo-social-container {
        width: calc(100% / 4);
        margin: 30px 0;
        display: flex;
        div {
          height: 32px;
          width: 32px;
          margin-right: 9px;
          color: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          &.logo-insta {
            background-color: #E4405F;
            font-size: 25px;
          }
          &.logo-fb {
            background-color: #3B5998;
          }
          &.logo-twitter {
            background-color: #1DA1F2;
          }
          &.logo-yt {
            background-color: #CD201F;
          }
          &.logo-pinterest {
            background-color: #BD081C;
          }
          &.logo-wifi {
            background-color: #FF8D00;
          }
        }
      }
    }
    &.footer-down {
      height: 90px;
      background-color: #1E1E1E;
      .footer-down-container {
        @include container-center(60%);
        display: flex;
        justify-content: space-between;
        .footer-down-container-left {
          display: flex;
          div {
            margin-left: 20px;
          }
        }
        .footer-down-container-right {
          ul {
            li {
              display: inline-block;
              font-size: 12px;
              margin-right: 20px;
              a {
                text-decoration: none;
                color: $secondary;

              }
            }
          }
        }
      }
    }
  }
}
