@import '_navbar.scss';

header {
  .jumbo {
    background-image: url('../img/bg-painter-home.jpg');
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .jumbo-container {
      @include container-center(60%);
      height: 100%;
      display: flex;
      align-items: center;
      .jumbo-contain {
        height: 300px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo-painter-black {
          img {
            width: 250px;
          }
        }
        .jumbo-title {
          font-size: 22px;
        }
        .jumbo-subtitle {
          color: #C70EB8;
          font-size: 17px;
          font-style: italic;
        }
        .jumbo-container-btn {
          display: flex;
          justify-content: flex-start;
          .btn-jumbo {
            padding: 9px 30px;
            font-size: 20px;
            cursor: pointer;
            &.btn-jumbo-left {
              background-color: #000;
              color: $primary;
            }
            &.btn-jumbo-right {
              border: 2px solid #000;
              margin-left: 25px;
            }
          }
        }

      }
    }
  }
}
